// *** Mobile *** //
.toggle__container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 111px;
    margin-bottom: 80px;
    width: 239px;
    .toggle__our-pricing {
        display: flex;
        height: 79px;
        p {
            color: #6E728E;
            font-size: 32px;
            font-weight: bold;
            line-height: 39px;
        }
    }
    .toggle__slider {
        display: flex;
        justify-content: space-between;
        width: 100%;
        p {
            color: #6E728E;
            font-size: 15px;
            font-weight: bold;
            line-height: 28px;
            opacity: 0.5;
        }
        /* The switch - the box around the slider */
        .switch {
            position: relative;
            display: inline-block;
            width: 56px;
            height: 32px;
        }
        /* Hide default HTML checkbox */
        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }
        // /* The slider */
        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-image: $linearGradient;
            -webkit-transition: .4s;
            transition: .4s;
        }
        .slider:before {
            position: absolute;
            content: "";
            height: 24px;
            width: 24px;
            left: 28px; //4px;//28px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }
        input:checked+.slider:before {
            -webkit-transform: translateX(-24px);
            -ms-transform: translateX(-24px);
            transform: translateX(-24px);
        }
        /* Rounded sliders */
        .slider.round {
            border-radius: 34px;
        }
        .slider.round:before {
            border-radius: 50%;
        }
    }
}

// *** Desktop *** // 
@include tablet {
    .toggle__container {
        margin-bottom: 64px;
    }
}